PORT=3004
REDIS_URL=redis://vida-redis.railway.internal:6379
REDIS_CACHE_TTL=86400
SOFTCREDITO_API_URL=https://ws.softcredito.com.mx/api
SOFTCREDITO_USER=
SOFTCREDITO_PASSWORD=
SOFTCREDITO_CERTIFICATE=
RENAPO_API_URL=https://sesna.gob.mx/api/v1
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT_B64=
INTERNAL_SECRET=
INTERNAL_API_SECRET=
PAYMENT_SERVER_URL=http://payment-server.railway.internal:3001
